/*  
	//////////////////////////////////////
	//									                //
	//		      BASE ELEMENTS			      //
	//							                		//
	//////////////////////////////////////
*/

// MAIN

html {
  font-size: 65.5%;
}

body {
  position: relative;
  font-size: $font-s;
  font-family: $f-primary;
  background: $white;
}

hr {
  max-width: 20rem;
  background-color: $color-primary;
  margin: 5rem auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $f-secondary;
}

// BASE

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.font-xs {
  font-size: $font-xs;
}
.font-s {
  font-size: $font-s;
}
