/*  
	//////////////////////////////////////
	//									                //
	//		      BASE ELEMENTS			      //
	//							                		//
	//////////////////////////////////////
*/

// MAIN

html {
  font-size: 65.5%;
}

body {
  position: relative;
  font-size: $font-s;
  font-family: $f-primary;
  background: $white;
}

hr {
  max-width: 20rem;
  background-color: $color-primary;
  margin: 5rem auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $f-secondary;
}

// BASE

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// borders

.border-5 {
  border: 3px solid $black;
}

// colors

.black {
  background-color: $black;
}

.grey {
  background-color: $grey;
}

.light-grey {
  background-color: $light-grey;
}

.blue {
  background-color: $blue;
}

.white {
  background-color: $white;
}

.green {
  background-color: $green;
}

.red {
  background-color: $red;
}

.purple {
  background-color: $purple;
}
