/*  
	///////////////////////////////////////////
	//									     //
	//			VARIABLES & IMPORTS			 //
	//									     //
	///////////////////////////////////////////
*/

// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=RocknRoll+One&display=swap");

$color-primary: #f37121;
$color-secondary: #111d5e;

$black: #222222;
$gray: #5b5656;
$light-gray: #9c9797;
$white: #ffffff;

$red: #be3030;
$orange: #ff7100;
$blue: #2e279d;
$light-blue: #0288d1;
$green: #52de97;
$purple: #8b2f97;

// font properties

$f-primary: "Poppins", sans-serif;
$f-secondary: "RocknRoll One", sans-serif;

$font-xs: 14px;
$font-s: 18px;
$font-m: 24px;
$font-l: 32px;
$font-xl: 42px;
