.btn {
  border: none;
  &:link {
    border: none;
  }
  &:visited {
    border: none;
  }
  &:hover {
    border: none;
  }
  &:active {
    border: none;
    outline: none;
  }
  &:focus {
    border: none;
    outline: 0 !important;
  }
}

.btn-cta-primary {
  font-size: $font-xs;
  margin: 0;
  padding: 1rem;
  border: 1px solid $green !important;
  border-radius: 0px;
}
