input[type="text"] {
  border: none !important;
  border-radius: 0 !important;
  padding: 2rem !important;
  font-size: $font-s !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: black !important;
  border: 2px solid $color-secondary !important;
  background-color: transparent;
  &:focus {
    border: 2px solid $color-primary !important;
    outline-color: transparent !important;
    background-color: transparent;
  }
}

input[type="email"] {
  border: none !important;
  border-radius: 0 !important;
  padding: 2rem !important;
  font-size: $font-s !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: black !important;
  border: 2px solid $color-secondary !important;
  background-color: transparent;
  &:focus {
    border: 2px solid $color-primary !important;
    outline-color: transparent !important;
    background-color: transparent;
  }
}

input[type="tel"] {
  border: none !important;
  border-radius: 0 !important;
  padding: 2rem !important;
  font-size: $font-s !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: black !important;
  border: 2px solid $color-secondary !important;
  background-color: transparent;
  &:focus {
    border: 2px solid $color-primary !important;
    outline-color: transparent !important;
    background-color: transparent;
  }
}

input::placeholder {
  color: $black !important;
}

textarea {
  border-radius: 0 !important;
  padding: 1.5rem !important;
  font-size: $font-s !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: white !important;
  border: 2px solid $color-secondary !important;
  &:focus {
    border: 2px solid $color-primary !important;
    outline-color: transparent !important;
    background-color: transparent;
  }
  background-color: $white !important;
  &:focus {
    border: 2px solid $color-primary !important;
  }
}

.form-group {
  margin: 2rem 0 !important;
}

.help-block {
  color: $red;
}

.hidden {
  display: none;
}

.btn-send {
  @extend .btn-cta-primary;
  border: 2px solid $color-primary !important;
  color: $black;
  &:hover {
    background-color: $color-primary;
    color: $white;
  }
}
