@charset "UTF-8";
/*
	Marloes Hermens Coaching
	Designer: Max Boog
	Version: 1.0.0
*/
/* BASE - Base styles, variables, mixins, etc */
/*  
	///////////////////////////////////////////
	//									     //
	//			VARIABLES & IMPORTS			 //
	//									     //
	///////////////////////////////////////////
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=RocknRoll+One&display=swap");
/*  
	//////////////////////////////////////
	//									                //
	//		      BASE ELEMENTS			      //
	//							                		//
	//////////////////////////////////////
*/
html {
  font-size: 65.5%;
}

body {
  position: relative;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

hr {
  max-width: 20rem;
  background-color: #f37121;
  margin: 5rem auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "RocknRoll One", sans-serif;
  color: #111d5e;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.font-xs {
  font-size: 14px;
}

.font-s {
  font-size: 18px;
}

.font-xl {
  font-size: 42px;
}

/* MODULES - Individual site components */
.btn {
  border: none;
}
.btn:link {
  border: none;
}
.btn:visited {
  border: none;
}
.btn:hover {
  border: none;
}
.btn:active {
  border: none;
  outline: none;
}
.btn:focus {
  border: none;
  outline: 0 !important;
}

.btn-cta-primary, .btn-send {
  font-size: 14px;
  margin: 0;
  padding: 1rem;
  border: 1px solid #52de97 !important;
  border-radius: 0px;
}

.marketing-icon {
  color: #f37121;
}

.spinner-1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: -3rem;
  margin-left: -3rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  border-top-color: #111d5e;
  animation: spinner 0.7s ease infinite;
}

.spinner-2:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: -3rem;
  margin-left: -3rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #222222;
  border-bottom-color: #222222;
  animation: spinner 0.7s linear infinite;
}

.spinner-3:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: -3rem;
  margin-left: -3rem;
  border-radius: 50%;
  border-top: 3px solid #222222;
  border-right: 3px solid transparent;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.carousel-heading {
  text-align: center;
  font-family: "RocknRoll One", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 5rem 0;
}

.carousel {
  max-width: 80rem;
  margin: 0 auto;
  padding-bottom: 50px;
}

.carousel .carousel-item {
  color: #5b5656;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}

.carousel .carousel-item a {
  color: #5b5656;
}

.carousel .testimonial {
  padding: 5rem 1rem 0 1rem;
}

.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}

.carousel .overview b {
  color: #222222;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #9c9797;
  text-shadow: none;
  top: -10px;
  margin: 0 10px;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px;
  margin-right: 2px;
}

.carousel-control-prev {
  left: auto;
  right: 40px;
}

.carousel-control-next i {
  margin-right: -2px;
}

.carousel .carousel-indicators {
  bottom: 3rem;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
}

.carousel-indicators li {
  background: #9c9797;
  border: none;
}

.carousel-indicators li.active {
  background: #111d5e;
}

.accordion .card {
  border-radius: 0px;
}
.accordion .card .card-header .btn-link {
  color: #f37121;
  font-family: "RocknRoll One", sans-serif;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 24px;
}
.accordion .card .card-header .btn-link:hover {
  text-decoration: none !important;
}
.accordion .card .card-header .btn-link:active {
  text-decoration: none !important;
}
.accordion .card .card-header .btn-link:focus {
  text-decoration: none !important;
}
.accordion .card .card-header .btn-link::before {
  content: "";
  width: 14px;
  height: 2px;
  background: #111d5e;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}
.accordion .card .card-header .btn-link::after {
  content: "";
  width: 2px;
  height: 14px;
  background: #111d5e;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}
.accordion .card .card-header .btn-link[aria-expanded=true]::after {
  transform: rotate(90deg) translateX(-1px);
}
.accordion .card .card-header .btn-link[aria-expanded=true]::before {
  transform: rotate(180deg);
}
.accordion .card .card-body {
  font-size: 1.5rem;
}

.collapsible-link::before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

input[type=text] {
  border: none !important;
  border-radius: 0 !important;
  padding: 2rem !important;
  font-size: 18px !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: black !important;
  border: 2px solid #111d5e !important;
  background-color: transparent;
}
input[type=text]:focus {
  border: 2px solid #f37121 !important;
  outline-color: transparent !important;
  background-color: transparent;
}

input[type=email] {
  border: none !important;
  border-radius: 0 !important;
  padding: 2rem !important;
  font-size: 18px !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: black !important;
  border: 2px solid #111d5e !important;
  background-color: transparent;
}
input[type=email]:focus {
  border: 2px solid #f37121 !important;
  outline-color: transparent !important;
  background-color: transparent;
}

input[type=tel] {
  border: none !important;
  border-radius: 0 !important;
  padding: 2rem !important;
  font-size: 18px !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: black !important;
  border: 2px solid #111d5e !important;
  background-color: transparent;
}
input[type=tel]:focus {
  border: 2px solid #f37121 !important;
  outline-color: transparent !important;
  background-color: transparent;
}

input::placeholder {
  color: #222222 !important;
}

textarea {
  border-radius: 0 !important;
  padding: 1.5rem !important;
  font-size: 18px !important;
  transition: 0.5s ease;
  outline: none;
  box-shadow: none !important;
  color: white !important;
  border: 2px solid #111d5e !important;
  background-color: #ffffff !important;
}
textarea:focus {
  border: 2px solid #f37121 !important;
  outline-color: transparent !important;
  background-color: transparent;
}
textarea:focus {
  border: 2px solid #f37121 !important;
}

.form-group {
  margin: 2rem 0 !important;
}

.help-block {
  color: #be3030;
}

.hidden {
  display: none;
}

.btn-send {
  border: 2px solid #f37121 !important;
  color: #222222;
}
.btn-send:hover {
  background-color: #f37121;
  color: #ffffff;
}

/* LAYOUTS - Page layout styles */
/* Navbar */
nav.shrink {
  padding: 1.5rem 2.5rem !important;
  background-color: #ffffff;
}

.navbar-custom {
  background-color: white;
  padding: 2.5rem !important;
  transition: all 0.4s ease;
  border-bottom: 1px solid #f37121;
}
.navbar-custom .navbar-collapse {
  background-color: transparent !important;
}
.navbar-custom .navbar-brand {
  max-width: 50px;
}
.navbar-custom .nav-item.active .nav-link {
  color: #f37121;
}
.navbar-custom .nav-item:hover .nav-link {
  color: #f37121;
}
.navbar-custom .navbar-nav .nav-link {
  color: #111d5e;
  font-size: 18px;
  transition: 0.1s;
}
.navbar-custom .navbar-toggler {
  background: transparent !important;
  border: none;
}
.navbar-custom .navbar-toggler:focus {
  background: transparent !important;
  outline: none;
}
.navbar-custom .navbar-toggler:hover > .icon-bar:nth-child(2) {
  transition: ease all 0.2s;
  width: 22px;
}
.navbar-custom .navbar-toggler:active > .icon-bar:nth-child(2) {
  transition: ease all 0.2s;
  width: 22px;
}
.navbar-custom .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all 0.2s;
}
.navbar-custom .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all 0.2s;
}
.navbar-custom .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all 0.2s;
}
.navbar-custom .navbar-toggler .icon-bar {
  background-color: #111d5e;
  border-radius: 1px;
  display: block;
  height: 2px;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
  width: 22px;
}
.navbar-custom .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-custom .navbar-toggler .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.banner-wrapper {
  padding: 0;
  margin-top: 5rem;
}

.banner {
  width: 100%;
  height: 30vh;
}

.heading {
  color: #111d5e;
}

.sub-header {
  color: #f37121;
}

.sub-header:before {
  content: "“";
  color: #111d5e;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.sub-header:after {
  content: "”";
  color: #111d5e;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

@media (min-width: 992px) {
  .banner {
    height: 30vh;
  }
}
.footer {
  margin: 10rem;
}
.footer .algemene-voorwaarden {
  font-size: 14px;
  color: #5b5656 !important;
}